* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #0c1320;
}
*::selection {
    background-color: #ffe2cc;
}

a{
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 500;
}

h6 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

button {
    font-family: neue-haas-grotesk-display,Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    border: none;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    white-space: normal;
}

.btn-dark, .btn-dark::selection, .btn-dark:focus, .btn-dark:active {
    background-color: #0b1320;
    color: white;
    padding: 0.75em 1.5em;
    transition: background-color .15s ease-in;
}

.btn-dark:hover{
    background-color: #202738;
}

.btn-light, .btn-light:focus, .btn-light:active, .btn-light::selection {
    padding: 0.75em 1.5em;
    background: transparent;
    border: solid 1px #0b1320;
}

.btn-light:hover {
    background: transparent;
    border: solid 2px #0b1320;
}

.one {
    background-color: rgb(207,192,227);
}

.icon {
    width: 80px;
    margin: 20px 0;
}

.three {
    background: #0b1320;
}

.three p, .three h4, .three h2 {
    color: white;
}

.three a {
    color: #d82b00;
    text-decoration: none;
    font-weight: 600;
}

#trusted-logos {
    max-height: 380px;
    overflow: scroll;
}


#trusted-logos img {
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 20px;
    padding: 20px;
}

#myCarousel {
    background-color: #F7F7F7;
    height: 600px;
}

#myCarousel .carousel-indicators button {
    color: #0b1320;
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
}

.link-danger {
    color: #d82b00;
    font-weight: 500;
    text-decoration: none ;
}

.four {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem;
    background-color: #0c1320;
    background-image: "url(https://website-assets-fw.freshworks.com/attachments/cksejum4900q4sng0frxzqm0j-banner1.full.png)";
}

.four h1, .four p {
    color: #F7F7F7;
}

.four .btn {
    color: #0c1320;
    background-color: #F7F7F7;
    -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.four .btn:hover, .four .btn:active, .four .btn:focus {
    color: #0c1320;
    background-color: #F7F7F7;
    -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#sales-btn  {
    position: fixed;
    bottom: 0;
    right: 0;
    margin:0 25px 40px 0;
    font-size: 10px;
    padding: 1em;
}